<div class="panel panel-primary">
  <div class="panel-heading">
    <h2>Promed List</h2>
  </div>
  <div class="panel-body">
    <table class="table table-hover">
      <thead>
      <tr>
        <th>Name</th>
        <th>Kind</th>
        <th>Count</th>
        <th>Actions</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let promedDto of promeds | async">
        <td>{{promedDto.name}}</td>
        <td>{{promedDto.kind}}</td>
        <td>{{promedDto.count}}</td>
        <td>
          <button (click)="deletePromed(promedDto.id)" class="btn btn-danger">Delete</button>
          <button (click)="promedDetails(promedDto.id)" class="btn btn-info" style="margin-left: 10px">Details</button>
          <button (click)="updatePromed(promedDto.id)" class="btn btn-info" style="margin-left: 10px">Update</button>
        </td>
      </tr>
      </tbody>
    </table>
  </div>
</div>

